:root {
  --vega-primary: var(--vega-blue);
  --vega-secondary: var(--vega-white);
  --vega-text-color: var(--vega-black);
  --vega-border-color: var(--vega-gray);

  --vega-black: #2a2a35;
  --vega-gray: #cbccd9;
  --vega-blue: #638cc7;
  --vega-white: #fff;
}
